@use "../../../theme/theme" as *;

.container {
  display: flex;
}

.aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.algoSelect {
  width: 6rem;
  padding: 0.25rem;
}