@use "./theme" as theme;
@include theme.css-reset;

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Hebrew:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

*[data-hidden="all"] {
  display: none !important;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

figure {
  margin: 0;
}

a:hover {
  cursor: pointer;
}

body {
  font-family: "Noto Sans Hebrew", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

#root {
  height: 100%;
}
