@use "../../theme/theme" as *;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 0.5rem;

  .wrapper {
    display: flex;
    gap: 0.5rem;
  }

  .key {
    font-size: large;
    width: 2.5rem;
    height: 2rem;
    background-color: $blue;
    color: white;
    border-radius: 0.4rem;
    text-align: center;
    line-height: 2rem;
  }
}
